*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(../img/imagen1.jpeg);
    -webkit-background-size:cover;
    background-size: cover;
    background-attachment: fixed;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;

    
}
.contenedor{
    background:#9ac2c9 ;
    border-radius: 2px;
    box-shadow: 19px 20px 8px -9px #292f36 ;
    overflow: hidden;
    box-sizing: content-box;
    width: 500px;
    height: 750px;
   
    border-radius: 10px;
}
.titulo{
    background: #337ca0;
    color:azure;
    text-align: center;
    border-radius: 10px;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}
#formulario{
    padding: 30px 20px;
}
.form-control{
    
    margin-bottom: 7px;
    padding-bottom: 20px;
    position: relative;
    margin-top: 20px;
}
.form-control label{
    display: inline-block;
    margin-bottom: 7px;
    font: weight 200px;
}
.form-control input{
    border: none;
    background-color: ghostwhite;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 12px;
    width: 100%;

}
.form-control, input:focus{
    outline: none;
}
.form-control.correcto input{
    border: 0.1px solid ;
    border-color: #1d84b5;
}
.form-control.falla input{
    border: 0.1px solid ;
    border-color: brown;
}
.text{
    width: 470px;
    border: none;
    height: 100px;
    border: 2px;
    outline: none;
    font-family:Arial, Helvetica, sans-serif;


}
#formulario button{
    background: #3a86ff;
    border: none;
    border-radius: 2px;
    color:white;
    width: 100%;
    display: inline;
    padding: 10px;
    font-size: 18px;
}
#borrar{
    margin-top: 10px;
}
.form-control p{
    visibility: hidden;
    position: absolute;
    font-size: small;
    font-weight: 500;
    text-align: right;
}
.form-control.falla p{
    visibility: visible;
    color: brown;
    margin-top: 0px;
}